In [2]:
import pandas as pd
from google.cloud import storage
import os
from io import StringIO

In [4]:
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]= "credenciales.json"

In [5]:
storage_client = storage.Client()

In [13]:
bucket_name = "cloudstoagereingesta"
blob_name = "orderdetails.csv"

In [14]:
bucket = storage_client.get_bucket(bucket_name)
blob = bucket.blob(blob_name)

In [15]:
data = blob.download_as_text()

In [16]:
df = pd.read_csv(StringIO(data),sep=";")

In [17]:
df.head()

   orderNumber productCode  quantityOrdered  priceEach orderLineNumber
0        10100    S18_1749               30     136.00               3
1        10100    S18_2248               50      55.09               2
2        10100    S18_4409               22      75.46               4
3        10100    S24_3969               49      35.29               1
4        10101    S18_2325               25     108.06               4